# OS X files
.DS_Store

# Xcode user files
HazeLight.xcodeproj/project.xcworkspace/xcuserdata
HazeLight.xcworkspace

#CocoaPods directory
Pods
HazeLight/apiKey.txt

HazeLight/email.txt
/fastlane/test_output
.swiftpm
